@model MeiditationActivity.ViewModels.UserDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<table class="table table-bordered table-hover">

    <tr>
       
        <td>@Model.RangeMeter.PhysicalLoad</td>
        <td>@Model.RangeMeter.SleepQuality</td>
    </tr>

</table>